<section>
  <div class="bg-gradient-to-br from-green-200/60 to-indigo-300/60 min-h-dvh">
    <div class="flex flex-col items-center">
      <div class="w-[380px] md:w-[80%]">
        <div
          class="flex flex-col md:flex-wrap md:flex-row md:gap-3 justify-center items-center my-5 h-full w-full p-5 bg-slate-50/40 backdrop-blur-sm shadow-lg shadow-slate-300 rounded-3xl"
        >
          <img
            class="object-cover mt-10 h-[110px] w-[110px] md:h-[180px] md:w-[180px] rounded-full bg-center bg-no-repeat border-4 border-white/40 drop-shadow-xl"
            src="https://gcams.tech/assets/avatar/default.png"
            alt="avatar"
          />
          <div class="flex flex-col justify-center md:w-full items-center my-2">
            <h1 class="text-xl font-bold text-gray-800">Johnny Makasalanan</h1>
            <p class="text-gray-700 font-bold text-md text-center">202211000</p>
            <p class="text-gray-600 text-center">
              Bachelor of Science in Computer Science
            </p>
            <p class="text-gray-600 text-center">Year 2 | Block A</p>
            <a
              routerLink="/student/edit"
              class="flex items-center gap-2 m-3 px-6 py-2 text-white bg-gradient-to-br from-cyan-700/80 to-indigo-600/80 rounded-full"
            >
              Edit profile
              <i class="material-icons text-md">edit</i>
            </a>
          </div>
          <div
            class="flex grow md:rounded-2xl md:w-full bg-slate-50/60 p-3 m-2"
          >
            <p class="text-md text-semibold">
              You've been present for: 230 days
            </p>
          </div>
          <div
            class="flex grow md:rounded-2xl md:w-full bg-slate-50/60 p-3 m-2"
          >
            <p class="text-md text-semibold">You've been absent for: 8 days</p>
          </div>
          <div class="flex flex-row items-center justify-between w-full">
            <h1 class="text-[#004E49] md:m-2 my-4 text-2xl font-bold">
              My Classes
            </h1>
            <p
              class="md:ml-12 md:m-2 px-5 py-3 bg-cyan-700 flex items-center gap-2 text-white font-bold rounded-3xl"
            >
              <i class="material-icons">event </i>
              Class Schedule
            </p>
          </div>
          <div
            class="flex items-center whitespace-nowrap md:w-full md:x md:m-2 w-[350px] h-[260px] overflow-x-auto overflow-y-hidden"
          >
            <div *ngFor="let class of myClasses; index as i" class="m-3">
              <div
                class="flex grow items-center bg-white/40 shadow-slate-200 shadow-md backdrop-blur-sm w-[320px] min-h-[216px] rounded-xl"
              >
                <div
                  class="m-5 p-4 min-h-full w-full rounded-xl bg-[url(assets/backgrounds/card.png)] bg-cover bg-center bg-no-repeat"
                >
                  <p class="text-wrap text-white">{{ class.classCode }}</p>
                  <p class="text-wrap text-white">{{ class.name }}</p>
                  <p class="text-white">{{ class.time }}</p>
                  <p class="text-white">{{ class.roomNo }}</p>
                  <a
                    [routerLink]="'/student/class/' + class.classCode"
                    class="float-end py-2 px-4 rounded-l-full text-white bg-cyan-700 hover:bg-cyan-900"
                  >
                    View Class Attendance
                  </a>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            (click)="logout()"
            class="md:ml-auto flex items-center gap-2 m-3 px-6 py-2 text-white bg-gradient-to-br from-cyan-700/80 to-indigo-600/80 rounded-full"
          >
            <i class="material-icons">exit_to_app</i>
            Log out
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
