<section
  class="h-screen max-w-full flex justify-center items-center bg-gradient-to-br from-green-200/60 to-indigo-300/60"
>
  <div class="mx-auto max-w-screen-xl px-8 py-4">
    <div class="mx-auto max-w-screen-sm text-center">
      <img
        alt=""
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
        class="mx-auto bg-gray-100/40 rounded-3xl"
      />
      <h1 class="text-5xl my-5 font-extrabold text-teal-600">404 Not Found</h1>
      <p class="text-xl my-3 font-bold tracking-tight text-teal-950">
        Whoops! That page doesn’t exist.
      </p>
      <a
        routerLink="/"
        class="py-2 px-8 mx-24 button flex items-center justify-center"
      >
        Back to Home <i class="material-icons ml-2">home</i>
      </a>
    </div>
  </div>
</section>
