@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  @apply bg-[url("assets/backgrounds/body.jpg")] bg-center bg-no-repeat bg-cover;
}

h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

@layer components {
  .button {
    @apply text-white
        bg-gradient-to-br
        from-cyan-700
        to-indigo-600
        rounded-full
        hover:bg-gradient-to-br
        hover:from-cyan-800
        hover:to-indigo-700
        active:bg-gradient-to-br
        active:from-cyan-900
        active:to-indigo-800
        cursor-pointer
        disabled:cursor-not-allowed
        font-medium;
  }
}
